html {
    background-color: rgb(20, 20, 20);
    
}
body{
    
    background-color: rgb(26, 25, 25);
    
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
    margin: 200px;
    margin-left: 700px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    height: 650px;
    
}
h4 {
    color: rgb(151, 209, 63);
}
img{
    width: 150px; 
    height: 150px;
    border-radius:50%;
    margin-top: 50px;
    
}
a{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: aliceblue;
    margin: 15px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    text-decoration: none;
    
}
.front{
    justify-content: center;
    border: solid rgb(71, 71, 71);
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
    height:30px;
   
}

.git{
    border: solid rgb(71, 71, 71);
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
    height:30px;
}
.link{
    border: solid rgb(71, 71, 71);
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
    height:30px;
}
.x{
    border: solid rgb(71, 71, 71);
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
    height:30px;
}
.insta{
  border: solid rgb(71, 71, 71);
    border-radius: 5px;
    background-color: rgb(71, 71, 71); 
    height:30px;
}
a:hover {
  background-color: rgb(130, 253, 130); 
  color: rgb(71, 71, 71);         
}